story-detail-page {
ion-card.selected p{
    font-family: Roboto, "Helvetica Neue", sans-serif;

}

ion-card >.card-content-md, .card-content-ios{
    padding-top: 13px!important;
}

ion-card > .row{
    border-top: 1px #e0e0e0 solid;
}

.list-avatar-page {
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }
  .comment-content{
    overflow: visible;
    white-space: normal;
  }
  .list-header{
    margin-bottom: 1px;
  }
}

@media(min-width: 600px){
	ion-card.card-ios , .card-md {
    margin: 12px 12px 12px 12px;
    width: calc(85% - 20px);
    border-radius: 2px;
    font-size: 1.4rem;
    margin-left: 65px;
   /* background: #fff;*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
}
@media(min-width: 1024px){

ion-card.selected, .card-ios {
   margin: 20px 100px 20px 100px;
    width: calc(100% - 200px);
    border-radius: 2px;
    font-size: 1.4rem;
    background: #f4f4f4;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
}

@media(min-width: 1200px){

ion-card.selected, .card-ios {
    margin: 20px 10px 10px 10px;
    margin-left: 338px;
    margin-right: 377px;
    width: calc(100% - 20px);
    border-radius: 2px;
    font-size: 1.4rem;
    background: #f4f4f4;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
}
}